body {
    background-color: #F8F8F8;
}

header {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    background-color: #F8F8F8;
    margin-bottom: #F8F8F8;
  }

header > img {
    float: left;
    height: 50px;
   }

nav {
    float: right;
    margin-top: 10px;
}

a {
    float: left;
    display: ;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: ;
    line-height: ;
    width: 
    text-decoration: ;
    border: ;
    border-radius: ;

}

main {

}

div {

}

h1 {
    margin: 0;
    font-size: 100px;
    line-height: 69px;
    color: #9E9E9E;

}

p {
    font-size: 32px;
    letter-spacing: 1px;
    color: #9E9E9E;
}

