body {
    background-color: #F8F8F8;
}

header {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    background-color: yellow;
  }

img {

}

nav {

}

a {

}

main {

}

div {

}

h1 {

}

